<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0.1"/>
    <meta content="" name="description"/>
    <meta content="shallotsh" name="author"/>
    <title>我要发-福彩3D预测系统-排五法</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="css/wyf.css" rel="stylesheet">
    <link href="css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
<div class="container-fluid" id="app">
    <nav class="navbar navbar-default top-navbar" role="navigation" style="margin-top: 0px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong><i class="icon fa fa-diamond"></i> 我要发v1.1.7 </strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <div class="nav navbar-left" style="margin-left: 10px; padding: 10px;">
            <a href="http://www.cwl.gov.cn/kjxx/fc3d/" target="_blank"> <span style="line-height: 40px;"> {{ drawNoticeOverview }}</span> </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户资料</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu" href="/"><i class="fa fa-cubes"></i> 排五法</a>
                </li>
                <li>
                    <a href="/origin"><i class="fa fa-fw fa-cube"></i> 三码法</a>
                </li>

                <li>
                   <a href="/2d"><i class="fa fa-fw fa-cube"></i> 定位2D法</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">

        <div id="page-inner">
            <!-- input sequence -->
            <div class="row">
                <div class="col-sm-2">
                    <input type="text" class="form-control" v-model="sequence1" placeholder="序列1" />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" v-model="sequence2" placeholder="序列2"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" v-model="sequence3" placeholder="序列3"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" v-model="sequence4" placeholder="序列4"/>
                </div>
                <div class="col-sm-2 col-sm-push-1">
                    <button type="button" class="btn btn-primary fill_parent" @click="doPermutate"> 组 码 </button>
                </div>
            </div>

            <!-- operate for transfer -->
            <div class="row border-dashed-vertical">
                <div class=" form-inline col-sm-2">
                    <label for="sum_code" class="control-label">和杀</label>
                    <input type="text" size="11" class="form-control fill_parent_50" v-model="sumValue" id="sum_code" placeholder="和杀码">
                </div>
                <div class=" form-inline col-sm-2">
                    <label for="bold_code" class="control-label">胆杀</label>
                    <input type="text" size="11" class="form-control fill_parent_50" v-model="boldCode" id="bold_code" placeholder="3码胆">
                </div>
                <div class=" form-inline col-sm-2">
                    <label for="range_code" class="control-label">跨度</label>
                    <input type="text" size="11" class="form-control fill_parent_50" v-model="rangeCode" id="range_code" placeholder="跨度">
                </div>
                <div class=" form-inline col-sm-2">
                    <label for="gossip_code" class="control-label">二码</label>
                    <input type="text" size="11" class="form-control fill_parent_50" v-model="gossipCode" id="gossip_code" placeholder="八卦二码">
                </div>
                <div class=" form-inline col-sm-4">
                    <div class="col-sm-4" style="padding-right: 0px">
                        <button type="button" @click="killCode" :disabled="config.isP5" class="btn btn-primary fill_parent"> 杀 码 </button>
                    </div>
                    <div class="col-sm-4" style="padding-right: 0px">
                        <button type="button" @click="transfer2Direct" class="btn btn-info fill_parent"> 转直选 </button>
                    </div>
                    <div class="col-sm-4" style="padding-right: 0px">
                        <button type="button" @click="doPermutationFive" class="btn btn-info fill_parent"> 排五 </button>
                    </div>
                </div>
            </div>

            <!--<div class="row  content_align_center border-dashed-bottom" >-->
                <!--<div class="col-sm-3">-->
                    <!--<button type="button" class="btn btn-success fill_parent_50"> 导出 </button>-->
                <!--</div>-->

                <!--<div class="col-sm-9 div-padding-right-none" >-->
                    <!--<textarea class="form-control" placeholder="操作历史记录" rows="2" ></textarea>-->
                <!--</div>-->
            <!--</div>-->


            <!-- global operate for 5code -->
            <div class="row " >
                <div class="col-sm-3 content_align_center">
                    <div class="row">
                        <div class="row">
                            <div class=" form-inline col-sm-12">
                                <label for="bold_code" class="control-label">P5杀输入</label>
                                <input type="text" v-model.trim="boldCodeFive" class="form-control fill_parent" id="bold_code_five" placeholder="码胆或者钓叟(#,/等分割)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="constProcess(1)" class="btn btn-info fill_parent"> 小和杀 </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(4)" class="btn btn-primary fill_parent"> 含三杀 </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="constProcess(2)" class="btn btn-info fill_parent"> 大和杀 </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(5)" class="btn btn-primary fill_parent"> 含四杀 </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="constProcess(3)" class="btn btn-info fill_parent"> 奇偶杀 </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(6)" class="btn btn-primary fill_parent"> 含五杀 </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="constProcess(7)" class="btn btn-info fill_parent"> 杀全大全小 </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(8)" class="btn btn-primary fill_parent"> 无序钓叟 </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(18)" class="btn btn-info fill_parent"> 高频杀码 </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(10)" class="btn btn-primary fill_parent"> 有序钓叟 </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="constProcess(11)" class="btn btn-info fill_parent"> 非重码杀 </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(12)" class="btn btn-primary fill_parent"> 下沉比对 </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(14)" class="btn btn-primary fill_parent"> 随机杀 </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(13)" class="btn btn-primary fill_parent"> 和值尾杀 </button>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(15)" class="btn btn-primary fill_parent"> 和值杀 </button>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" @click="constProcess(9)" class="btn btn-primary fill_parent"> 尾三比对 </button>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(17)" class="btn btn-primary fill_parent"> 和增频 </button>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(16)" class="btn btn-primary fill_parent"> 胆增频 </button>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <button type="button" @click="boldProcess(19)" class="btn btn-primary fill_parent"> 频度杀 </button>
                            </div>

                        </div>


                    </div>



                </div>

                <!-- for result show -->
                <div class="col-sm-9 " >
                    <div class="row ">
                        <div class="col-sm-8 div-margin-bottom-clear">
                            <span style="line-height: 40px">{{wyfMessage}}</span>
                        </div>

                        <div class="col-sm-2">
                            <select v-model="export_format" class="form-control" v-show="config.isP5">
                                <option :value="0" selected="selected">常规导出</option>
                                <option :value="2">大和杀导出</option>
                                <option :value="5">含四杀导出</option>
                                <option :value="6">含五杀导出</option>
                                <option :value="100">半页导出</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" @click="exportCodes" v-show="config.isP5" class="btn btn-success fill_parent" style="margin-bottom: 10px"> 导出 </button>
                        </div>
                        <!--<div class="col-sm-2">-->
                            <!--<button type="button" @click="exportCodesHalfPage" v-show="config.isP5" class="btn btn-success fill_parent" style="margin-bottom: 10px"> 半页导出 </button>-->
                        <!--</div>-->


                    </div>
                    <div class="row right-div-padding div-margin-top-clear">
                        <div class="border-solid code-show">
                            <ul class="code-ul-style">
                                <li v-for="item in wyfCodes"style="display: inline;margin: 10px 10px;line-height: 40px;"><span style="display: inline-block;">{{item}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="row">
                    <label class="checkbox-inline">位序保留: </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox10" value="1" v-model="wyf_abc"> abc
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox11" value="2" v-model="wyf_acb"> acb
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox12" value="3" v-model="wyf_bac"> bac
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox13" value="4" v-model="wyf_bca"> bca
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox14" value="5" v-model="wyf_cab"> cab
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox15" value="6" v-model="wyf_cba"> cba
                    </label>

                    <label> （ a < b < c，abcxx ） </label>
                </div>

                <div class="row">
                    <div class=" form-inline col-sm-2">
                        <label for="p5_ab" class="control-label">ab</label>
                        <input type="text" size="11" class="form-control fill_parent_50" v-model="bitAB" id="p5_ab" placeholder="AB">
                    </div>
                    <div class=" form-inline col-sm-2">
                        <label for="p5_bc" class="control-label">bc</label>
                        <input type="text" size="11" class="form-control fill_parent_50" v-model="bitBC" id="p5_bc" placeholder="BC">
                    </div>
                    <div class=" form-inline col-sm-2">
                        <label for="p5_cd" class="control-label">cd</label>
                        <input type="text" size="11" class="form-control fill_parent_50" v-model="bitCD" id="p5_cd" placeholder="CD">
                    </div>
                    <div class=" form-inline col-sm-2">
                        <label for="p5_de" class="control-label">de</label>
                        <input type="text" size="11" class="form-control fill_parent_50" v-model="bitDE" id="p5_de" placeholder="DE">
                    </div>
                    <div class="form-inline col-sm-4">
                        <label class="control-label">【筛选码（合则去，否则留）】</label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-inline col-sm-2">
                        <label for="myriabit" class="control-label">万</label>
                        <input type="text" size="11" v-model="myriabit" class="form-control " id="myriabit" placeholder="万位">
                    </div>

                    <div class="form-inline col-sm-2">
                        <label for="kilobit" class="control-label">千</label>
                        <input type="text" size="11" v-model="kilobit" class="form-control" id="kilobit" placeholder="千位">
                    </div>
                    <div class="form-inline col-sm-2">
                        <label for="hundred" class="control-label">百</label>
                        <input type="text" size="11" v-model="hundred"  class="form-control" id="hundred" placeholder="百位">
                    </div>

                    <div class="form-inline col-sm-2">
                        <label for="decade" class="control-label">十</label>
                        <input type="text" size="11" v-model="decade"  class="form-control" id="decade" placeholder="十位">
                    </div>
                    <div class="form-inline col-sm-2">
                        <label for="unit" class="control-label">个</label>
                        <input type="text" size="11" v-model="unit"  class="form-control" id="unit" placeholder="个位">
                    </div>
                </div>
                <div class="row content_align_center">
                    <button type="button" @click="bitsProcess" class="btn btn-primary"> 位 杀 </button>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="footer content_align_center">
                <span>Copyright@2019</span>
            </div>
        </div>

            <!-- /. ROW  -->


        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap Js -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="js/jquery.metisMenu.js"></script>

<!-- Custom Js -->
<script src="js/custom-scripts.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="js/wyf.js?v=7"></script>


</body>

</html>