<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0.1"/>
    <meta content="" name="description"/>
    <meta content="shallotsh" name="author"/>
    <title>我要发-福彩3D预测系统-和数投注法</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="css/wyf.css" rel="stylesheet">
    <link href="css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
<div class="container-fluid" id="app">
    <nav class="navbar navbar-default top-navbar" role="navigation" style="margin-top: 0px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong><i class="icon fa fa-diamond"></i> 我要发v1.1.8 </strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <div class="nav navbar-left" style="margin-left: 10px; padding: 10px;">
            <a href="http://www.cwl.gov.cn/ygkj/wqkjgg/fc3d/" target="_blank"> <span style="line-height: 40px;" v-cloak> {{ drawNoticeOverview }}</span> </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户资料</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="wyf"><i class="fa fa-cubes"></i> 排五法</a>
                </li>
                <li>
                    <a href="origin"><i class="fa fa-fw fa-cube"></i> 三码法</a>
                </li>

                <li>
                    <a href="3d-freq"><i class="fa fa-fw fa-cube"></i> 3D二和频度法</a>
                </li>

                <li>
                    <a href="2sum-dict"><i class="fa fa-fw fa-cube"></i> 二码和字典法</a>
                </li>


                <li>
                   <a href="2d"><i class="fa fa-fw fa-cube"></i> 定位2D法[新]</a>
                </li>
                <li>
                    <a href="expert"><i class="fa fa-fw fa-cube"></i> 专家推荐法</a>
                </li>
                <li>
                    <a href="4d"><i class="fa fa-fw fa-cube"></i> 复式组选</a>
                </li>

                <li>
                    <a class="active-menu" href="tail-sum"><i class="fa fa-fw fa-cube"></i> 和数投注法</a>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">

        <div id="page-inner">
            <!-- input sequence -->
            <div class="row border-dashed-bottom">
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="sequence" placeholder="预测序列" />
                </div>

                <div class=" form-inline col-sm-4">
                    <div class="col-sm-4" style="padding-right: 0px">
                        <button type="button" class="btn btn-primary fill_parent" @click="doPermutate"> 预测 </button>
                    </div>
                    <div class="col-sm-4" style="padding-right: 0px">
                        <button type="button" @click="resetInput" class="btn btn-info fill_parent"> 重置输入 </button>
                    </div>
                </div>
            </div>

            <!-- operate for transfer -->
<!--            <div class="row border-dashed-bottom" >-->
<!--                <div class=" form-inline col-sm-2">-->
<!--                    <label for="bold_code" class="control-label">胆杀</label>-->
<!--                    <input type="text" size="11" class="form-control fill_parent_50" v-model="boldCodeSeq" id="bold_code" placeholder="3码胆">-->
<!--                </div>-->
<!--                <div class=" form-inline col-sm-2">-->
<!--                    <label for="sum_code" class="control-label">和杀</label>-->
<!--                    <input type="text" size="11" class="form-control fill_parent_50" v-model="sumValue" id="sum_code" placeholder="和杀码">-->
<!--                </div>-->

<!--                <div class=" form-inline col-sm-4">-->
<!--                    <div class="col-sm-4" style="padding-right: 0px">-->
<!--                        <button type="button" @click="doKillCode"  class="btn btn-primary fill_parent"> 杀 码 </button>-->
<!--                    </div>-->
<!--                    <div class="col-sm-4" style="padding-right: 0px">-->
<!--                        <button type="button" @click="resetInput" class="btn btn-info fill_parent"> 重置输入 </button>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            <div class="row border-dashed-bottom">-->
<!--                <div class="form-inline col-sm-12">-->
<!--                    <label for="bin_sum_codes" class="control-label">二和尾</label>-->
<!--                    <input type="text" size="64" class="form-control fill_parent_80" v-model="binSumValues" id="bin_sum_codes" placeholder="二和尾 用空格或者'#'分隔" />-->
<!--                    <button type="button" class="btn btn-primary fill_parent_20" @click="doKillCode"> 执行 </button>-->
<!--                </div>-->
<!--            </div>-->



            <!-- global operate for 5code -->
            <div class="row " >
                <!-- for result show -->
                <div class="col-sm-12 " >
                    <div class="row ">
                        <div class="col-sm-8 div-margin-bottom-clear">
                            <span style="line-height: 40px" v-cloak>{{wyfMessage}}</span>
                        </div>

<!--                        <div class="col-sm-2">-->
<!--                            <button type="button" @click="exportCodes" v-show="config.isPredict" class="btn btn-success fill_parent" style="margin-bottom: 10px"> 导 出 </button>-->
<!--                        </div>-->


                    </div>
                    <div class="row right-div-padding div-margin-top-clear">
                        <div class="border-solid code-show">
                            <div>
                                <span style="line-height: 40px" v-show="config.isPredict" v-cloak>二码和数：{{w2dTailValue}}</span>
                            </div>
                            <div>
                                <span style="line-height: 40px" v-show="config.isPredict" v-cloak>三码和数：{{w3dTailValue}}</span>
                            </div>
                            <div>
                                <span style="line-height: 40px" v-show="config.isPredict" v-cloak>重叠：{{intersectValue}}</span>
                            </div>
                            <div>
                                <span style="line-height: 40px" v-show="config.isPredict" v-cloak>不重叠：{{complementValue}}</span>
                            </div>

<!--                            <ul class="code-ul-style">-->
<!--                                <li v-for="item in wyfCodes"style="display: inline;margin: 10px 10px;line-height: 40px;"><span style="display: inline-block;">{{item}}</span></li>-->
<!--                            </ul>-->
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="footer content_align_center">
                <span>Copyright@2024</span>
            </div>
        </div>

            <!-- /. ROW  -->


        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap Js -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="js/jquery.metisMenu.js"></script>

<!-- Custom Js -->
<script src="js/custom-scripts.js"></script>

<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<script src="js/wyf_tail_sum.js?v=2"></script>


</body>

</html>
