<!DOCTYPE html>
<html>
   <head>
      <title>我要发·排五</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <!-- 引入自定的css文件-->
      <link href="./css/wyf.css" rel="stylesheet">
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="container">
         <div class="row title">
            <div class="col-md-4 col-md-push-4">
               <h3>我要发·排5法</h3>
            </div>
         </div>

         <!-- input sequence -->
         <div class="row">
            <div class="col-sm-2">
               <input type="text" class="form-control" placeholder="序列1" />
            </div>
            <div class="col-sm-2">
               <input type="text" class="form-control" placeholder="序列2"/>
            </div>
            <div class="col-sm-2">
               <input type="text" class="form-control" placeholder="序列3"/>
            </div>
            <div class="col-sm-2">
               <input type="text" class="form-control" placeholder="序列4"/>
            </div>
            <div class="col-sm-2 col-sm-push-1">
               <button type="button" class="btn btn-primary fill_parent"> 组 码 </button>
            </div>
         </div>

         <!-- operate for transfer -->
         <div class="row border-dashed-vertical">
               <div class="form-inline col-sm-3">
                  <label for="sum_code">和杀</label>
                  <input type="text" class="form-control" id="sum_code" placeholder="和杀码">
               </div>
               <div class="form-inline col-sm-3">
                  <label for="bold_code">胆杀</label>
                  <input type="email" class="form-control" id="bold_code" placeholder="胆杀码">
               </div>
               <div class="col-sm-2">
                  <button type="button" class="btn btn-primary fill_parent"> 杀 码 </button>
               </div>
               <div class="col-sm-2">
                  <button type="button" class="btn btn-primary fill_parent"> 转直选 </button>
               </div>
               <div class="col-sm-2">
                  <button type="button" class="btn btn-primary fill_parent"> 排五 </button>
               </div>
         </div>

         <div class="row  content_align_center border-dashed-bottom" >
            <div class="col-sm-3">
               <button type="button" class="btn btn-success fill_parent_50"> 导出 </button>
            </div>

            <div class="col-sm-9 div-padding-right-none" >
               <textarea class="form-control" placeholder="操作历史记录" rows="2" ></textarea>
            </div>
         </div>


         <!-- coperate for 5code -->
         <div class="row " >
            <div class="col-sm-3 content_align_center">
               <div class="row">
                  <div class="row">
                     <div class="col-sm-6">
                        <button type="button" class="btn btn-info fill_parent"> 小和杀 </button>
                     </div>
                     <div class="col-sm-6">
                        <button type="button" class="btn btn-info fill_parent"> 含三杀 </button>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6">
                        <button type="button" class="btn btn-info fill_parent"> 大和杀 </button>
                     </div>
                     <div class="col-sm-6">
                        <button type="button" class="btn btn-info fill_parent"> 含四杀 </button>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6">
                        <button type="button" class="btn btn-info fill_parent"> 奇偶杀 </button>
                     </div>
                     <div class="col-sm-6">
                        <button type="button" class="btn btn-info fill_parent"> 含五杀 </button>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="row">
                     <div class="col-sm-12">
                        <label for="myriabit">万</label>
                        <input type="text" class="form-inline" id="myriabit" placeholder="万位">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <label for="kilobit">千</label>
                        <input type="text" class="form-inline" id="kilobit" placeholder="千位">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <label for="hundred">百</label>
                        <input type="text" class="form-inline" id="hundred" placeholder="百位">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <label for="decade">十</label>
                        <input type="text" class="form-inline" id="decade" placeholder="十位">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <label for="unit">个</label>
                        <input type="text" class="form-inline" id="unit" placeholder="个位">
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-sm-12">
                        <button type="button" class="btn btn-info fill_parent_50"> 位 杀 </button>
                     </div>
                  </div>
               </div>

            </div>

            <!-- for result show -->
            <div class="col-sm-9 " >
               <div class="row right-div-padding div-margin-bottom-clear">
                  <div >
                     <span>这一行是统计数据展示区域</span>
                  </div>
               </div>
               <div class="row right-div-padding div-margin-top-clear">
                  <div class="border-solid code-show">
                   3D码展示区域
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="footer content_align_center">
            <span>copyright@2017</span>
         </div>
      </div>

 
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="js/bootstrap.min.js"></script>
   </body>
</html>