<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0.1"/>
    <meta content="" name="description"/>
    <meta content="shallotsh" name="author"/>
    <title>我要发-福彩3D预测系统</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="css/wyf.css" rel="stylesheet">
    <link href="css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
</head>

<body>
<div class="container-fluid" id="app">
    <nav class="navbar navbar-default top-navbar" role="navigation" style="margin-top: 0px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong><i class="icon fa fa-diamond"></i> 我要发v1.1.7 </strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <div class="nav navbar-left" style="margin-left: 10px; padding: 10px;">
            <a href="http://www.cwl.gov.cn/kjxx/fc3d/" target="_blank"> <span style="line-height: 40px;"> {{ drawNoticeOverview }}</span> </a>
        </div>


        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户资料</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <div class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="/" target="funcArea"><i class="fa fa-cubes"></i> 排五法</a>
                </li>
                <li>
                    <a href="/origin" target="funcArea"><i class="fa fa-fw fa-cube"></i> 三码法</a>
                </li>

                <li>
                    <a href="/2d" target="funcArea"><i class="fa fa-fw fa-cube"></i> 定位2D法</a>
                </li>
                <li>
                    <a href="/expert_inner" target="funcArea"><i class="fa fa-fw fa-cube"></i> 专家推荐法</a>
                </li>


            </ul>

        </div>

    </div>
    <!-- /. NAV SIDE  -->

            <div class="row">
                <iframe name = "funcArea" with="100%" height="100%" src="https://www.baidu.com" scrolling="auto"></iframe>
            </div>
            <div class="row">
                <div class="footer content_align_center">
                    <span>Copyright@2019</span>
                </div>
            </div>

</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap Js -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="js/jquery.metisMenu.js"></script>

<!-- Custom Js -->
<script src="js/custom-scripts.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="js/wyf_2d.js?v=5"></script>


</body>

</html>